body {
  background: #E5E5E5;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1.2em;
  justify-items: stretch;
  align-items: stretch;
  height: 1264px;
}

.wrapper > .navbar,
.sidebar,
.content {
  background: #FDFDFD;
  padding: 1em;
}

.navbar {
  /* align-self: flex-end; */
  grid-column: 1/11;
  grid-row: 1;
  height: 80px;
}

.sidebar {
  /* align-self: start; */
  grid-column: 2/4;
  grid-row: 2;
  height: 814px;
  border-radius: 6px;
}

.content {
  /* align-self: start; */
  grid-column: 4/10;
  grid-row: 2;
  height: 814px;
  border-radius: 6px;
  padding: 20px;
}

.footer {
  /* justify-self: start; */
  grid-column: 2/10;
  height: 280px;
  /* background-color: red; */
}

.footer > p{
  font-size: '2';
}

.inside-badge{
  position: absolute;
  left: 8px;
  top: 5px;
  background: #e8e8e8;
  color: #1a1a1a
}

.apexcharts-legend-series{
display: none;
}

.apexcharts-title-text{
  font-weight:100
}

